<h1>Dish Show Page</h1>

<h2><%= @dish.name %></h3>
<p><b>Chef Name: </b><%= @dish.chef.name %>
<p><b>Description: </b><%= @dish.description %>
<p><b>Total Calorie: </b><%= @dish.calorie_count%>

<h3>Ingredients</h3>
<ul>
<% @dish.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
<% end %>
</ul>

<h3>Add Ingredients</h3>
<%= form_with url: "/dishes/#{@dish.id}", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :calories %>
  <%= form.text_field :calories %>
  <%= form.submit 'Add Ingredient' %>
<% end %>