<h1>Dish Show Page</h1>

<h2><%= @dish.name %></h3>
<p><b>Chef Name: </b><%= @dish.chef.name%>
<p><b>Description: </b><%= @dish.description %>
<p><b>Total Calorie: </b><%= @dish.calorie_count%>

<h3>Ingredients</h3>
<ul>
<% @dish.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
<% end %>
</ul>